<div class="row">
	<div class="col-md-12">
		<h1>The Chikukwa Project: Control Centre <span class="pull-right"><%= link_to "View site", root_path, class: 'btn btn-success' %> <%= link_to "Change password", edit_registration_path(current_user), class: 'btn btn-warning' %></span></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Edit main content </h3>
		<div class="well">
			<%= render 'content_items/form' %>
		</div>
		<h3>Images for photo gallery</h3>
		<div class="well">
			<% if @images %>
				<table class="table table-hover">
					<% @images.each do |image| %>
					<tr>
						<td><%= image_tag image.image, width: '150px' %></td>
						<td><%= image.caption %></td>
						<td><%= link_to 'Edit', edit_image_path(image) %></td>
        				<td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        			</tr>
        			<% end %>
        		</table>
        	<% end %>
        	<hr>
        	<h4>Add image</h4>

			<%= render 'images/form' %>
		</div>

	</div>
	<div class="col-md-6">
		<%= render 'enquiries' %>
		<%= render 'buy_actions' %>
		<%= render 'involvement_actions' %>
		<%= render 'background_images' %>
		<%= render 'events' %>
		<%= render 'downloads' %>
		<script src="/assets/paypal-button-minicart.min.js?merchant=RF54PV28JPXGJ" 
									    data-button="cart" 
									    data-name="Chikukwa Project Bluray" 
									    data-quantity="1" 
									    data-amount="25" 
									    data-currency="AUD" 
									    data-shipping="5" 
									    data-callback="http://www.thechikukwaproject.com/"
									></script>
		
		<br>
		

	</div>
</div>
<br>
