<div class="well">
<%= simple_form_for(@involvement_action) do |f| %>
  <%= f.error_notification %>

  
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :link, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :button_text, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :priority, input_html: { class: 'form-control' } %>
  </div>

    <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>
</div>