<div class="container">
  		<div class="row">
			<div class="col-md-12">
				<h2>About the project</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<%= @content_item.about.html_safe %>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-success">
				  <div class="panel-heading">
				    	<p><i class="fa fa-quote-left"></i>
				    	<em><%= @content_item.quote.html_safe %></em>
				    	<i class="fa fa-quote-right"></i></p>
				    	<small><%= @content_item.quote_author %></small>
						
					
				  </div>
				</div>
				<div class="panel panel-success">
				  <div class="panel-heading">
				    	<div class="panel-title">
				    		<i class="fa fa-download"></i>
				    		Download papers</div>
				    </div>
				    <div class="panel-body">
				    	<% @downloads.each do |download| %>
							
				    			<%= link_to download.file do %>
				    				<i class="fa fa-chevron-circle-right"></i> 
				    				<%= download.name %>
				    			<% end %>
				    		
				    		<p style="font-size:0.8em"><%= download.content %></p>
				    		

				    	<% end %>
						
					
				  </div>
				</div>
				
			</div>
		</div>
    </div>