<h1>Listing buy_actions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Link</th>
      <th>Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buy_actions.each do |buy_action| %>
      <tr>
        <td><%= buy_action.title %></td>
        <td><%= buy_action.description %></td>
        <td><%= buy_action.link %></td>
        <td><%= buy_action.priority %></td>
        <td><%= link_to 'Show', buy_action %></td>
        <td><%= link_to 'Edit', edit_buy_action_path(buy_action) %></td>
        <td><%= link_to 'Destroy', buy_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy action', new_buy_action_path %>
