<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chik" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chik" %>">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <style>
      .bg-img-show {
        width: 400px;
      }
    </style>
  </head>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
        
      </div>
    </div>
  </div>
    
  </body>
</html>
