<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "The Chikukwa Project - a permaculture success story in Zimbabwe" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "An amazing story of African villagers who turned their lives around. THE CHIKUKWA PROJECT is a feel good story out of Africa. For the last 20 years an incredible permaculture project has been growing in Zimbabwe." %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <style>
        <% @background_images.each_with_index do |background_image, index| %>
        .bgr-<%= index + 1 %> {
            background-image: url(<%= background_image.image.url %>);
        }
        <% end %>
        .panel-title {text-transform: uppercase;}
    </style>
    </head>
  <body>

              <%= yield %>
    <div class="footer"  data-no-turbolink>
    <%= link_to "admin", admin_path %>
    </div>
  </body>
</html>
